header {
    background-color: #f4f4f4;
    border-bottom: 1px solid #ccc;
}

.top-bar {
    background-color: #0066cc;
    color: white;
    text-align: center;
    padding: 10px;
}

.promo-banner {
    font-size: 0.9rem;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 150px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 15px;
    background-color: #0066cc;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

button {
    background-color: #007bff; 
    color: white; 
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px; 
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b5; 
}


.header-icons a {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.header-icons a:hover {
    text-decoration: underline;
}

.header-icons li {
    font-size: 30px;
    color: #333;     
    margin-right: 15px;
    cursor: pointer;  
    transition: color 0.3s ease; 
}

.header-icons li:hover {
    color: #007bff;  
}

@media (max-width: 600px) {
    .header-main {
        flex-direction: column;
        align-items: flex-start; 
        padding: 15px;
    }

    .logo img {
        max-width: 120px; 
    }

    .search-bar {
        width: 100%;
        margin-top: 10px; 
    }

    .search-bar input {
        width: 100%; 
    }

    .search-bar button {
        width: 80%; 
        margin-left: 5px; 
        margin-top: 0px; 
    }

    .header-icons {
        width: 100%; 
        margin-top: 10px; 
        display: flex;
        justify-content: space-around;
    }

    .header-icons a {
        margin-left: 0; 
    }
}

