* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-footer {
    text-align: center;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}
.form-group input:focus{
    outline:0;
}

.form-group .error{
    color:rgb(242, 18, 18);
    font-size:16px;
    margin-top: 5px;
}

.form-group.success input{
    border-color: #0cc477;
}

.form-group.error input{
    border-color:rgb(206, 67, 67);
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
        max-width: 90%;
    }

    h1 {
        font-size: 22px;
    }

    input[type="text"],
    input[type="password"] {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }

    .form-footer {
        margin-top: 15px;
    }
}
